.sidebar {

    a.nav-link:hover {
        color: $navlinkHover;
        text-decoration: none;
    }

    a.nav-link {
        color: $navlinkInActive;
    }

    a.nav-link.active {
        color: $navlinkActive;
    }
}

// .sidebar {

//     .nav-link a:hover {
//         color: $navlinkHover;
//         text-decoration: none;
//     }

//     .nav-link a {
//         color: $navlinkInActive;
//     }

//     .nav-link a.active {
//         color: $navlinkActive;
//     }
// }